<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <p> Random Image</p>
    <img :src="img" />
  </div>
</template>
<!-- https://blog.logrocket.com/how-to-use-vue-3-typescript/ -->
<!-- https://www.bacancytechnology.com/blog/vue3-typescript -->
<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data() {   // used to pass data to template
    return {
      img: "111"
    }
  },
  methods: {
    randomImage() {
      console.log("randrom image function calling");
      let items = [
        "https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/close-up-of-tulips-blooming-in-field-royalty-free-image-1584131603.jpg"  ,
        "https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/surprising-flower-meanings-balloon-flowers-1650767465.jpg",
        "https://pbs.twimg.com/profile_images/883859744498176000/pjEHfbdn_400x400.jpg",
        "https://upload.wikimedia.org/wikipedia/commons/3/38/Flower_July_2011-2_1_cropped.jpg",
        "https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Frangipani_flowers.jpg/640px-Frangipani_flowers.jpg"
      ];

      let rn = Math.floor(Math.random() * items.length);
      let rnItem = items[rn];
      console.log(rn);
      console.log(rnItem);

      this.img =  rnItem; 
    }
  },
  beforeMount() {
    this.randomImage();
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
img{
  height: 200px;
  width: 200px;
}
</style>
